.mytubeNavbar{
    display: block;
    grid-area: n;
    background-color: #00BFFF;
}

/*.mytubeNavbar .menu{*/
/*    margin-top: 20px;*/
/*    margin-left: 20px;*/
/*}*/



/*.href{*/
/*    display: block;*/
/*    color: black;*/
/*    opacity: .8;*/
/*    margin-bottom: 10px;*/
/*}*/
